<div class="wrapper">
  <div class="page-header clear-filter" filter-color="blue">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.gif" alt="">
      
      </div>
      <!-- <h6 class="category category-absolute">Designed by
              <a href="https://invisionapp.com/" target="_blank">
                  <img src="assets/img/invision-white-slim.png" class="invision-logo" />
              </a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">
                  <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
              </a>.</h6> -->
    </div>
  </div>

  <div class="main">
    <!-- <div class="section section-images">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="hero-images-container">
              <img src="assets/img/hero-image-1.png" alt="">
            </div>
            <div class="hero-images-container-1">
              <img src="assets/img/hero-image-2.png" alt="">
               </div>
                    <div class="hero-images-container-2">
                        <img src="assets/img/hero-image-3.jpg" alt="">
                    </div> 
            </div>
          </div>
        </div>
      </div> -->
    <div class="section section-examples" data-background-color="black">
      <div class="space-50"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <h2 class="font-weight: 800; letter-spacing: 0.225em;">
              We create quality software solutions and great development teams. As a modern software house, we prefer to use an agile approach
              but we can adapt to you. We work only with heavy seasoned developers, so our expertise over the technology
              we use is guaranteed for our clients
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-examples">
      <div class="space-50"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <h1 class="font-weight: 800; letter-spacing: 0.225em;">
              Some our customers
            </h1>
            <div class="row">
              <div class="col col-6">
                <a href="https://invisionapp.com/" target="_blank">
                  <img src="assets/img/infocorp.png" class="customer-logo" />
                </a>
              </div>
              <div class="col col-6">
                <a href="https://invisionapp.com/" target="_blank">
                  <img src="assets/img/evertec-logo.jpg" class="customer-logo" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="section section-tabs ">
      <div class="container"> -->
        <!-- <div class="row"> -->
          <!-- <div class="col-md-10 ml-auto col-xl-6 mr-auto">
            <div class="card">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper"> -->
                  <!-- <ngb-tabset [justify]="'center'" class="text-center">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <i class="now-ui-icons objects_umbrella-13"></i> Home
                      </ng-template>
                      <ng-template ngbTabContent>
                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level
                          that things could be at. So when you get something that has the name Kanye West on it, it’s supposed
                          to be pushing the furthest possibilities. I will be the leader of a company that ends up being
                          worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <i class="now-ui-icons shopping_cart-simple"></i> Profile
                      </ng-template>
                      <ng-template ngbTabContent>
                        <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the
                          answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to
                          push possibilities, to show people, this is the level that things could be at. I think that’s a
                          responsibility that I have, to push possibilities, to show people, this is the level that things
                          could be at. </p>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <i class="now-ui-icons shopping_shop"></i> Messages
                      </ng-template>
                      <ng-template ngbTabContent>
                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level
                          that things could be at. So when you get something that has the name Kanye West on it, it’s supposed
                          to be pushing the furthest possibilities. I will be the leader of a company that ends up being
                          worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <i class="now-ui-icons ui-2_settings-90"></i> Settings
                      </ng-template>
                      <ng-template ngbTabContent>
                        <p>
                          "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand
                          culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities,
                          to show people, this is the level that things could be at."
                        </p>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset> -->
                <!-- </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-md-10 ml-auto col-xl-6 mr-auto"> -->
            <!-- Tabs with Background on Card -->
            <!-- <div class="card">
              <div class="nav-tabs-navigation" data-tabs-color="orange">
                <div class="nav-tabs-wrapper"> -->
                  <!-- <ngb-tabset [justify]="'center'" class="text-center">
                    <ngb-tab title="Home">
                      <ng-template ngbTabContent>
                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level
                          that things could be at. So when you get something that has the name Kanye West on it, it’s supposed
                          to be pushing the furthest possibilities. I will be the leader of a company that ends up being
                          worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Profile">
                      <ng-template ngbTabContent>
                        <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the
                          answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to
                          push possibilities, to show people, this is the level that things could be at. I think that’s a
                          responsibility that I have, to push possibilities, to show people, this is the level that things
                          could be at. </p>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Messages">
                      <ng-template ngbTabContent>
                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level
                          that things could be at. So when you get something that has the name Kanye West on it, it’s supposed
                          to be pushing the furthest possibilities. I will be the leader of a company that ends up being
                          worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Settings">
                      <ng-template ngbTabContent>
                        <p>
                          "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand
                          culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities,
                          to show people, this is the level that things could be at."
                        </p>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset> -->
                <!-- </div>
              </div>
            </div> -->
            <!-- End Tabs on plain Card -->
          <!-- </div>
        </div> -->
      <!-- </div>
    </div> -->

    <div class="section section-examples" data-background-color="black">
      <div class="space-50"></div>
      <!-- <div class="container text-center">
        <div class="row">
          <div class="col">
            <h2 class="font-weight: 800; letter-spacing: 0.225em;">
              We create quality software solutions and great development teams. As a modern software house, we prefer to use an agile approach
              but we can adapt to you. We work only with heavy seasoned developers, so our expertise over the technology
              we use is guaranteed for our clients
            </h2>
          </div>
        </div>
      </div> -->
    </div>

  </div>
  <!-- <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </footer> -->
</div>